.modPanel {
	background-color: #1d1d1d;
}

.modPanel-header {
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #828282;
}

.modPanel-header__inner {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modPanel-header__title {
	margin: 0;
	font-size: 50px;
	font-weight: 300;
	color: #000;
	text-transform: uppercase;
}

.modPanel-header__title_red {
	color: #fd5433;
}

.modPanel__title {
  font-size: 22px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.menu__item {
	cursor: pointer;
	color: #000;
	text-decoration: none;
	padding: 10px 20px;
	transition: all 0.4s ease-in 0s;
}

.menu__item:hover {
	color: #fd5433;
}

.modPanel__content {
  width: 700px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
}

.modPanel__invite {
  display: flex;
	align-items: center;
	width: 100%;
  height: 80px;
	border-bottom: 1px solid #828282;
}

.modPanel__tableHeader {
	height: 30px;
}

.modPanel__invite:last-child {
	border-bottom: none;
}

.invite__item {
	padding-left: 10px;
	padding-right: 10px;
	white-space: nowrap;
  overflow: hidden;
}

.invite__image {
	width: 10%;
}

.invite__image img{
  max-width: 60px;
	max-height: 60px;
}

.invite__name {
	width: 10%;
}

.invite__surname {
	width: 10%;
}

.invite__phone {
	width: 20%;
}

.invite__email {
	width: 20%;
}

.invite__message {
	width: 20%;
}
